* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

nav {
	position: sticky;
	top: 0px;
	height: 10vh;
	border-bottom: 2px solid lightgray;
	z-index: 999;
	background-color: white;
}

nav ul {
/*	background-color: lightgreen;*/
}

nav li {
/*	background-color: lightblue;*/
	display: inline-block;
/*	padding: 0rem;*/
/*	margin-top: 1rem;*/
	margin: 1rem;
	position: static;
	font-weight: bold;
}

.right-nav {
	float: right;
}

.nav-logo {
/*	background-color: gray;*/
	margin-left: 7.5rem;
}

.tuitt-button {
	background-color: #c2195b;
	border-radius: 50px;
	color: white;
	padding: 0.75rem 1.25rem;
	font-weight: bold;
	font-size: 1rem;
	margin-right: 7.5vw;
	border: none;
}

section#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 50vh;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position-y: 85%;
/*	background-color: lightcoral;*/
	color: white;
}


div.front-bg {
	background: rgba(0, 0, 0, 0.5);
/*	opacity: 0.75;
	background-color: black;*/
	width: 100vw;
	height: 50vh;
}

div.container {
	margin-left: 7.5rem;
	margin-right: 7.5rem;
	width: 50%;
/*	background-color: black;*/
	float: right;
}

.title, .title-2 {
	font-family: 'Zilla Slab', serif;
	text-align: center;
}

.title {
	text-align: right;
	font-size: 3rem;
}

div.placeholder {
	width: 30%;
	display: inline-block;
	background-color: yellow;
	visibility: hidden;
}

section#bg-image .subtitle {
	width: 69%;
	font-size: 1.25rem;
	text-align: right;
	display: inline-block;
	padding-top: 1rem;
	font-weight: 400;
}

.title-2 {
	text-align: center;
	font-size: 2rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.intro {
	text-align: justify;
	margin: 1rem 12rem;
}

.intro-description {
	text-align: justify;
}

.pre-footer {
	background-color: #f7fbfb;
	margin-top: 5rem;
	margin-bottom: 1rem;
	padding-bottom: 9rem;
}

.prefooter-description {
	text-align: justify;
	margin: 1rem 12rem;
}

.book-button, .apply-button {
	border-radius: 50px;
	color: white;
	padding: 0.75rem 3rem;
	font-weight: bold;
	font-size: 1rem;
	border: none;
}

.book-button {
	background-color: #336589;
	display: block;
	margin: 0 auto;
}

.apply-button {
	background-color: #c2195b;
	display: block;
	margin-top: 1rem;
	float: right;
	position: relative;
}

footer {
	text-align: center;
}

footer span {
	display: inline-block;
	padding: 1rem;
}